<mat-card class="example-card">
  <mat-card-header>
    <div
      mat-card-avatar
      class="example-header-image"
      [ngStyle]="{
        'background-image': getBackgroundImage()
      }"
    ></div>
    <mat-card-title>{{ cardData.title }}</mat-card-title>
    <mat-card-subtitle>{{ cardData.subTitle }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="cardData.imagePath" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <p>
      {{ cardData.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="handleLike()">
      LIKE
    </button>
    <button mat-raised-button color="accent" (click)="handleShare()">
      SHARE
    </button>
  </mat-card-actions>
</mat-card>
