<div class="card">
  <img [src]="selectedRecipe.imagePath" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ selectedRecipe.name }}</h5>
    <p class="card-text">{{ selectedRecipe.description }}</p>
    <div appDropdown class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" (click)="sendToShoppingList()">To shopping list</a></li>
        <li><a href="#">Edit recipe</a></li>
        <li><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item active">Ingredents</li>
    <li class="list-group-item" *ngFor="let item of selectedRecipe.ingredents">
      {{ item.name }} ({{ item.amount }})
    </li>
  </ul>
</div>
