/* You can add global styles to this file, and also import other style files */
.row {
  margin-right: 0px !important;
  margin-left: -15px !important;
}

.open .dropdown-menu {
  display: block !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
